<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catpp.springbootpro.mapper.GoodInfoMapper" >
  <resultMap id="BaseResultMap" type="com.catpp.springbootpro.pojo.GoodInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into good_info (name, price, unit) values(#{name}, #{price}, #{unit})
  </insert>
</mapper>