<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catpp.springbootpro.mapper.JwtUserMapper" >
  <resultMap id="BaseResultMap" type="com.catpp.springbootpro.pojo.JwtUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="day_request_count" property="dayRequestCount" jdbcType="INTEGER" />
    <result column="ajax_bind_ip" property="ajaxBindIp" jdbcType="VARCHAR" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="app_secret" property="appSecret" jdbcType="LONGVARBINARY" />
  </resultMap>
</mapper>